notes/
reports/
secrets/

**/build
**/*.tsbuildinfo
# **/.env

mongod-x64-pop-5.0.3 

.yarn/*
# Cache included for Zero-installs
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Documentation here: https://yarnpkg.com/features/zero-installs
# .pnp.* (Commented out for Zero-Installs)

# generated / collected puzzle files
blunders
puzzles
