.App {
  text-align: center;
}

.content {
  margin: auto;
  width: 728px;
}

.Board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 384px;
}

.Board .Square {
  width: 48px;
  height: 48px;
}

.Board .Square.black {
  background-color: #454545;
}

.Board .Square.white {
  background-color: #efefef;
}

.Board .Piece {
  background-image: url("/pieces.svg");
  background-size: 288px 96px;
  width: 48px;
  height: 48px;
}

.Board .Piece.king-black {
  background-position: top 48px left 0px;
}

.Board .Piece.queen-black {
  background-position: top 48px left 240px;
}

.Board .Piece.rook-black {
  background-position: top 48px left 96px;
}

.Board .Piece.bishop-black {
  background-position: top 48px left 192px;
}

.Board .Piece.knight-black {
  background-position: top 48px left 144px;
}

.Board .Piece.pawn-black {
  background-position: top 48px left 48px;
}

.Board .Piece.king-white {
  background-position: top 0px left 0px;
}

.Board .Piece.queen-white {
  background-position: top 0px left 240px;
}

.Board .Piece.rook-white {
  background-position: top 0px left 96px;
}

.Board .Piece.bishop-white {
  background-position: top 0px left 192px;
}

.Board .Piece.knight-white {
  background-position: top 0px left 144px;
}

.Board .Piece.pawn-white {
  background-position: top 0px left 48px;
}
